@import "tailwindcss";
.fondo{
    background: linear-gradient(90deg, oklch(14.1% 0.005 285.823) 30%, oklch(12.9% 0.042 264.695) ,oklch(14.1% 0.005 285.823) 70%);
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    color: oklch(93% 0.034 272.788);
}
